/* Colors */
$primary: rgba(81,126,61,1);
$light-grey: #e6e6e6;
$dark: #232323;

$submit: #517e3d;

/* Breakpoints */
$min-phone: 30em;
$min-tablet: 37.5em;
$min-desktop: 50em;

/* Font weights */
$light-weight: 300;
$medium-weight: 400;
$heavy-weight: 700;

/* Sizing */
$bump: 1em;
$full: 100%;