/* =============================================================================
 *  Text elements 
 * ========================================================================== */

h1 {	
}

h2 {
	@include adjust-font-size-to(34px);
	font-weight: $medium-weight;
}

h3 {
	@include adjust-font-size-to(28px);
	font-weight: $heavy-weight;
	@extend .upper;
}


/* =============================================================================
 *  Fonts 
 * ========================================================================== */

body {
	font-family: 'Lato', sans-serif;
}


/* =============================================================================
 *  Content elements 
 * ========================================================================== */

.title {
	color: rgba(255,255,255,.3);
}

.subtitle {
	font-size: $full;
}